<div id="bottom-bar" class="bg-black h-24 md:h-48 flex flex-wrap text-white items-center justify-around">
  <MediaLink @name="BandCamp" @href="https://rosebudcoal.bandcamp.com/releases" />
  <MediaLink @name="Email" @href="mailto:TheShangriLAshow@gmail.com" />
  <MediaLink @name="Facebook" @href="www.facebook.com/ShangriLAshow" />
  <MediaLink @name="Instagram" @href="www.instagram.com/shangrilashow" />
  <MediaLink @name="The Surgery Room" @href="www.TheSurgeryRoom.com" />
  <MediaLink @name="Twitter" @href="https://twitter.com/Shnagri_LAshow" />
  <MediaLink @name="Vimeo" @href="www.vimeo.com/ondemand/shangrilashow" />
  <MediaLink @name="YouTube" @href="www.youtube.com/channel/UC24cDtAwHDmTYgqUu08ktQA" />
</div>