<div id="bottom-bar" class="bg-black h-24 md:h-24 flex flex-grow flex-wrap text-white items-center justify-around">
  <MediaLink @name="The Surgery Room" @href="http://www.TheSurgeryRoom.com" />
  <MediaLink @name="Amazon" @href="https://www.amazon.com/Fools-Paradise/dp/B07RT71CDX" />
  <MediaLink @name="BandCamp" @href="https://rosebudcoal.bandcamp.com/releases" />
  <MediaLink @name="Facebook" @href="https://facebook.com/ShangriLAshow" />
  <MediaLink @name="Instagram" @href="https://instagram.com/shangrilashow" />
  <MediaLink @name="Twitter" @href="https://twitter.com/Shangri_LAshow" />
  <MediaLink @name="Vimeo" @href="https://vimeo.com/ondemand/shangrilashow" />
  <MediaLink @name="YouTube" @href="https://youtube.com/channel/UC24cDtAwHDmTYgqUu08ktQA" />
  <MediaLink @name="Email" @href="mailto:TheShangriLAshow@gmail.com" />
</div>
