<div id="bottom-bar" class="bg-black h-24 md:h-48 flex flex-wrap text-white items-center justify-around">
  <MediaLink @name="Amazon" />
  <MediaLink @name="BandCamp" />
  <MediaLink @name="Email" />
  <MediaLink @name="Facebook" />
  <MediaLink @name="Instagram" />
  <MediaLink @name="Patreon" />
  <MediaLink @name="Shopify" />
  <MediaLink @name="The Surgery Room" />
  <MediaLink @name="Twitter" />
  <MediaLink @name="Vimeo" />
  <MediaLink @name="YouTube" />
</div>