<div id="mobile-navbar" class="bg-black h-10 flex text-white items-center">
  <LinkTo @route="home" @classNames="flex flex-shrink text-center"><img class="h-6" src={{this.iconSources.home}} /></LinkTo>
  <LinkTo @route="episodes" @classNames="flex-1 text-center">Episodes</LinkTo>
  <LinkTo @route="games" @classNames="flex-1 text-center">Games</LinkTo>
  <LinkTo @route="music" @classNames="flex-1 text-center">Music</LinkTo>
  <LinkTo @route="photos" @classNames="flex-1 text-center">Photos</LinkTo>
</div>