<div class="flex flex-row-reverse pb-2">
  <button {{action (action "hideModal")}} class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
    <p>close X</p>
  </button>
</div>

<iframe src="https://player.vimeo.com/video/333403952" width={{this.width}} height={{this.height}} frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
</iframe>

<p>
  <a href="https://vimeo.com/333403952" class="text-blue">
    Shangri-­LA ­ Season 1
  </a> from
  <a href="https://vimeo.com/user4014562" class="text-blue">
    The Surgery Room
  </a> on
  <a href="https://vimeo.com" class="text-blue">
    Vimeo
  </a>.
</p>
