@import 'tailwind';
@import 'ember-photoswipe';

@import 'loading-spinner';
@import 'music';
@import 'not-found';

html {
  body {
    overflow-x: hidden;
    overflow-y: auto;
    a, a:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}
