@import 'tailwind';
@import 'music';
@import 'not-found';

html {
  body {
    overflow-x: hidden;
    overflow-y: visible;
    a, a:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}
