@import "tailwind";
@import "ember-photoswipe";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

@import "loading-spinner";
@import "music";
@import "not-found";

html {
  body {
    overflow-x: hidden;
    overflow-y: auto;
    a, a:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}
