<div id="application" class="h-auto w-screen flex flex-col bg-blackest">
  {{#if this.modal.isShowing}}
    {{#modal-dialog}}
      <VimeoPlayer />
    {{/modal-dialog}}
  {{/if}}

  {{outlet}}
</div>
