<div id="behind-the-scenes" class="h-screen w-full flex flex-col">
  <TopBar />
  <div class="flex flex-col flex-grow overflow-y-auto">
    <img src={{this.imageSources.intro}} alt="Intro" >
    <img src={{this.imageSources.creators}} alt="Creators" >
    <img src={{this.imageSources.description}} alt="Description" >
  </div>
  <BottomBar />
</div>
