<div id="episodes" class="h-screen w-screen bg-blackest">
  {{#if this.isLoading}}
    <LoadingSpinner />
  {{/if}}
  <EpisodesCanvas @stopLoading={{this.stopLoading}}>
    {{outlet}}
  </EpisodesCanvas>
  <IconRow></IconRow>
</div>