<div id="episodes" class="w-screen bg-blackest">
  {{#if this.isLoading}}
    <LoadingSpinner />
  {{/if}}
  <EpisodesCanvas @stopLoading={{this.stopLoading}}>
    {{outlet}}
  </EpisodesCanvas>
</div>