<div id="episodes" class="h-screen flex flex-col">
  <TopBar />
  <div class="overflow-x-hidden overflow-y-auto flex-grow">
    <div class="flex bg-blackest">
      <div class="xl:w-1/6"></div>
      <div class="flex-grow">
        {{#if this.isLoading}}
          <LoadingSpinner />
        {{/if}}
        <EpisodesCanvas @stopLoading={{this.stopLoading}}>
          {{outlet}}
        </EpisodesCanvas>
      </div>
      <div class="xl:w-1/6"></div>
    </div>
  </div>
  <BottomBar />
</div>