<div id="episodes" class="h-screen w-screen bg-blackest">
  {{#if isLoading}}
    <LoadingSpinner />
  {{/if}}
  <EpisodesCanvas @stopLoading={{stopLoading}}>
    {{outlet}}
  </EpisodesCanvas>
  <IconRow></IconRow>
</div>