<div id="games" class="w-full flex flex-col">
  <img src={{this.pageSource}} alt="Games" >
  <div class="flex h-24 text-yellow-dark text-4xl text-center">
    <span class="w-full pt-4">Coming Soon</span>
  </div>
</div>
