<div id="home" class="h-screen w-screen">
  {{#if this.isLoading}}
    <LoadingSpinner />
  {{/if}}
  <HomeCanvas @stopLoading={{this.stopLoading}}>
    {{outlet}}
  </HomeCanvas>
  <IconRow></IconRow>
</div>