<div id="home" class="w-screen h-screen flex flex-col">
  <TopBar />
  <div class="overflow-x-auto overflow-y-auto flex-auto">
    <div class="flex bg-blackest">
      <div class="xl:w-1/5"></div>
      <div class="xl:w-3/5">
        {{#if this.isLoading}}
          <LoadingSpinner />
        {{/if}}
        <HomeCanvas @stopLoading={{this.stopLoading}}>
          {{outlet}}
        </HomeCanvas>
      </div>
      <div class="xl:w-1/5">
      </div>
    </div>
  </div>
  <BottomBar />
</div>
