<div id="not-found" class="bg-yellow h-full w-screen bg-no-repeat bg-cover flex flex-col-reverse">
  <div class="text-center bg-grey-light p-2 lg:p-12 m-2">
    <p class="text-blue-dark text-xl md:text-4xl">
      That which you seek cannot be found.
    </p>
    <p class="text-blue-darker text-lg md:text-3xl hover:underline">
      {{link-to "Return Home" "home"}}
    </p>
  </div>
</div>