<div id="photos" class="h-screen flex flex-col">
  <TopBar />
  <div class="flex-grow h-full overflow-y-auto">
    {{#if this.isLoading}}
      <LoadingSpinner />
    {{/if}}
    <PhotoViewer @stopLoading={{this.stopLoading}} />
  </div>
  <BottomBar />
</div>
