<div id="trailers" class="h-screen flex flex-col">
  <TopBar />
  <div class="overflow-x-auto overflow-y-auto flex-grow">
    <div class="flex bg-blackest">
      <div class="xl:w-1/6"></div>
      <div class="xl:w-2/3">
        {{#if this.isLoading}}
          <LoadingSpinner />
        {{/if}}
        <TrailersCanvas @stopLoading={{this.stopLoading}}>
          {{outlet}}
        </TrailersCanvas>
      </div>
      <div class="xl:w-1/6"></div>
    </div>
  </div>
  <BottomBar />
</div>